USE [BAN_QUAN_AN_NHANH]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/20/2022 3:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [int] NOT NULL,
	[MAMONAN] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETNHAPMONAN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPMONAN](
	[MADONNHAP] [int] NOT NULL,
	[MANGUYENLIEU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTNHAPMONAN] PRIMARY KEY CLUSTERED 
(
	[MADONNHAP] ASC,
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGTHUCCHEBIENMONAN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUCCHEBIENMONAN](
	[MAMONAN] [int] NOT NULL,
	[MANGUYENLIEU] [int] NOT NULL,
	[SOLUONGCHEBIEN] [int] NULL,
	[SLNGUYENLIEU] [int] NULL,
 CONSTRAINT [PK_MONAN_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC,
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYTHANHTOAN] [date] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GIOITINH] [int] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMONAN] [int] NOT NULL,
	[TENMONAN] [nvarchar](50) NULL,
	[LOAI] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[SLHIENCO] [int] NULL,
	[GIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANGUYENLIEU] [int] NOT NULL,
	[TENNGUYENLIEU] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[GIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
	[CHUCVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAPMONAN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPMONAN](
	[MADONNHAP] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/20/2022 3:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MANV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MAMONAN], [SOLUONG]) VALUES (1, 1, 2)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MAMONAN], [SOLUONG]) VALUES (1, 9, 2)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MAMONAN], [SOLUONG]) VALUES (2, 4, 1)
INSERT [dbo].[CHITIETNHAPMONAN] ([MADONNHAP], [MANGUYENLIEU], [SOLUONG]) VALUES (1, 1, 10)
INSERT [dbo].[CHITIETNHAPMONAN] ([MADONNHAP], [MANGUYENLIEU], [SOLUONG]) VALUES (1, 2, 15)
INSERT [dbo].[CHITIETNHAPMONAN] ([MADONNHAP], [MANGUYENLIEU], [SOLUONG]) VALUES (2, 3, 10)
INSERT [dbo].[CONGTHUCCHEBIENMONAN] ([MAMONAN], [MANGUYENLIEU], [SOLUONGCHEBIEN], [SLNGUYENLIEU]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CONGTHUCCHEBIENMONAN] ([MAMONAN], [MANGUYENLIEU], [SOLUONGCHEBIEN], [SLNGUYENLIEU]) VALUES (2, 1, 1, 1)
INSERT [dbo].[CONGTHUCCHEBIENMONAN] ([MAMONAN], [MANGUYENLIEU], [SOLUONGCHEBIEN], [SLNGUYENLIEU]) VALUES (2, 2, 1, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [MANV], [MAKH], [NGAYTHANHTOAN], [THANHTIEN]) VALUES (1, 1, 2, CAST(N'2022-05-02' AS Date), 60000)
INSERT [dbo].[HOADON] ([MAHOADON], [MANV], [MAKH], [NGAYTHANHTOAN], [THANHTIEN]) VALUES (2, 2, 0, CAST(N'2022-05-01' AS Date), 90000)
INSERT [dbo].[HOADON] ([MAHOADON], [MANV], [MAKH], [NGAYTHANHTOAN], [THANHTIEN]) VALUES (3, 1, 0, CAST(N'2022-04-30' AS Date), 50000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [SDT]) VALUES (0, NULL, NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [SDT]) VALUES (1, N'Ngô Quốc Việt', 1, N'TP.Hồ Chí Minh', N'0985658521')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [SDT]) VALUES (2, N'Phạm Thái Anh', 1, N'Bến Tre', N'0698512546')
INSERT [dbo].[MONAN] ([MAMONAN], [TENMONAN], [LOAI], [DVT], [SLHIENCO], [GIA]) VALUES (1, N'Chân Gà Sốt Cay', N'Đồ Ăn', N'Cái', 4, 20000)
INSERT [dbo].[MONAN] ([MAMONAN], [TENMONAN], [LOAI], [DVT], [SLHIENCO], [GIA]) VALUES (2, N'Gà Lắc Phô Mai', N'Đồ Ăn', N'Cái', 8, 25000)
INSERT [dbo].[MONAN] ([MAMONAN], [TENMONAN], [LOAI], [DVT], [SLHIENCO], [GIA]) VALUES (3, N'Đùi Gà Chiên Giòn', N'Đồ Ăn', N'Cái', 8, 20000)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONG], [DONVITINH], [GIA]) VALUES (1, N'Gà', 28, N'Cái', 5000)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONG], [DONVITINH], [GIA]) VALUES (2, N'Phô Mai', 18, N'Cái', 5000)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONG], [DONVITINH], [GIA]) VALUES (3, N'Bột', 13, N'Kg', 5000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [CHUCVU]) VALUES (1, N'Phan Thanh Bình', N'0978523655', N'Admin')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [CHUCVU]) VALUES (2, N'Nguyễn Thụy Xuân Hạnh', N'0365264789', N'Nhân Viên')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [CHUCVU]) VALUES (3, N'Phạm Quốc Thái', N'0963256895', N'Nhân Viên')
INSERT [dbo].[NHAPMONAN] ([MADONNHAP], [MANV], [NGAYNHAP], [THANHTIEN]) VALUES (1, 1, CAST(N'2022-04-30' AS Date), 50000)
INSERT [dbo].[NHAPMONAN] ([MADONNHAP], [MANV], [NGAYNHAP], [THANHTIEN]) VALUES (2, 1, CAST(N'2022-05-04' AS Date), 75000)
INSERT [dbo].[NHAPMONAN] ([MADONNHAP], [MANV], [NGAYNHAP], [THANHTIEN]) VALUES (3, 1, CAST(N'2022-06-05' AS Date), 50000)
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [MANV]) VALUES (N'ThaiQuoc', N'22222', 3)
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [MANV]) VALUES (N'ThanhBinh', N'12345', 1)
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [MANV]) VALUES (N'XuanHanh', N'11111', 2)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTMONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTMONAN]
GO
ALTER TABLE [dbo].[CHITIETNHAPMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPMADON] FOREIGN KEY([MADONNHAP])
REFERENCES [dbo].[NHAPMONAN] ([MADONNHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAPMONAN] CHECK CONSTRAINT [FK_CTNHAPMADON]
GO
ALTER TABLE [dbo].[CHITIETNHAPMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPMONAN] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CHITIETNHAPMONAN] CHECK CONSTRAINT [FK_CTNHAPMONAN]
GO
ALTER TABLE [dbo].[CONGTHUCCHEBIENMONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CONGTHUCCHEBIENMONAN] CHECK CONSTRAINT [FK_MONAN]
GO
ALTER TABLE [dbo].[CONGTHUCCHEBIENMONAN]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CONGTHUCCHEBIENMONAN] CHECK CONSTRAINT [FK_NGUYENLIEU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_KH]
GO
ALTER TABLE [dbo].[NHAPMONAN]  WITH CHECK ADD  CONSTRAINT [FK_NHAPMONAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPMONAN] CHECK CONSTRAINT [FK_NHAPMONAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN]
GO
